body
{
	background: black;
	background-image: url(fon.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
table,td{
	
	border: 1px solid red;
	padding : 0;
	
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
#main{
	width: 100%;
	margin: 0 auto;
}
#header{
	height: 150px;
	background:url(topp.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

}
#left {
    height: 500px;
    width: 15%;
    background-image: url(left.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
#right {
    height: 500px;
    width: 15%;
    background-image: url(left.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
#menu{
	height:100%;
}