body
{
	background: black;
	background-image: url(fon.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
table,td{
	
	border: 1px solid brown;
	padding : 0;
	
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
#main{
	width: 100%;
	margin: 0 auto;
}
#header{
	height: 200px;
	background:url(top.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;

}
#left {
    height: 512px;
    width: 15%;
    background-image: url(left.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#right {
    width: 15%;
    background-image: url(left.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#menu{
	height:100%;
}